.waxing-div-component {
    text-align: left;
     
 }
 
 .waxing-h1-component {
     font-size: 30px;
     font-weight: 700;
      
 }

.waxing-h2 {
    text-align: center;
    margin-bottom: 0;
    color: white;
}


 .price-div-waxing {
     text-align: center;
     margin: 20px;
     font-size: 15px;
    background-color: rgb(13, 90, 100);
 }
 .waxing-price {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    color: white;
 }
 
 .waxing-price-div {
     padding: 5px;
 }
 .waxing-para {
     padding: 2px 20px;
 }
 
 @media(min-width: 801px) {
     .waxing-image-component{
         margin: auto;
     }
     .waxing-image{
       max-width: 600px;
      margin-top: 100px; 
     }
  
     .waxing {
         max-width: 600px;
         margin: 50px auto;
     }
    .service-h1-component {
        margin-top: 50px;
    }
 }





 

 @media(max-width: 800px) {
     .waxing-component {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;

     }

     .waxing-image-component img {
         padding-top: 70px;
         margin: 0 auto;
         width: 100%;
         max-height: 400px;
         background: rgb(13, 90, 100);
     }

     .waxing-div-component {
         padding: 0 25px;
         margin: 10px 20px;
         text-align: left;
         width: 100%;
     }
      .waxing-h1-component {
          padding: 0 0 0px 27px;
      }
 }
 
  