  .top-left {
    background-color: rgba(16, 17, 17, 0.1);
    padding-left: 10px;
    margin-left: 0;
    border-radius: 15px;
    width: 50%;
    height: 300px;
}

@media(min-width: 600px){
    .top-left p {
        font-weight: 700;
        line-height: 2rem;
        
    }
    .top-left h1 {
      font-weight: 700;
      line-height: 2rem;
      font-size:  25px;
    }
    .top-left {
        position: absolute;
        top: 10px;
        padding-top: 100px ;
        left: 0;
      }   
 }
 @media(max-width: 599px){
 
  .top-left  p {
        font-weight: 700;
        font-size: 13px;
        width: 300px;
        line-height: 20px;
    }
   .top-left h1 {
     font-size: 20px;
     line-height: 25px;
    }
    .top-left {
        position: absolute;
        top: 150px;
        left: 20px;
        right: 20px;
      }   
 }
 