  .top-left {
    
    padding-left: 10px;
    margin-left: 40px;
    width: 50%;
  
}
.text-centre {
  text-align: center;
  padding: 50px;
}


@media(min-width: 768px){
 
  #top-left-h1 {
    color: inherit;
     /* For browsers that do not support gradients */
    color: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    color: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    color: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    font-weight: 900;
    font-size:  80px;
    font-style: oblique;
  }
    .top-left {
        position: absolute;
        top: 100px;
        left: 40px;
      }   
 }
 @media(max-width: 767px){
 
  #top-left-h1 {
    font-size: 50px;
    font-weight: 900;
    font-style: oblique;
   }
  
  
    .top-left {
        position: absolute;
        top: 150px;
        left: 20px;
        right: 20px;
      }   
 }
 