.Gallery{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

   
.first-line  {
   border: 10px transparent solid;
    width: 300px;
 
  
}
.second-line {
    border: 10px transparent solid;
    width: 300px;
    
}
.third-line {
    border: 10px transparent solid;
    width: 400px;
    
}
.fourth-line {
    border: 10px transparent solid;
    width: 400px;
  
}
.yoga {
    border: 10px transparent solid;
    width: 250px;
    height: 400px;
}

@media(max-width: 850px){
    .Gallery{
        justify-content: center;
        align-items: center;
        display: flex;
      
    }
    .Gallery img {
        width: 400px;
      
    }
    .yoga {
        height: 500px;
    }
}

@media(max-width: 500px){
    .Gallery{
        justify-content: center;
        align-items: center;
        display: flex;
      
    }
    .Gallery img {
        width: 350px;
      
    }
    .yoga {
        height: 500px;
    }
}