

@media(min-width: 1100px) {
    .Banner-Slicer img {
        display: flex;
         width: 80%;
         margin: auto;
        
    }
    .Banner-Slicer {
        background-color: lightseagreen;
         margin-top: -50px;
    }
  .bannerphone{
             display: none !important; 
        }
}
@media(min-width: 900px) {
.Banner-Slicer img{
    display: flex;
   width: 70%;
   margin: 0 auto;
 
 }
 .Banner-Slicer {
     background-color: lightseagreen;
      margin-top: -50px;
 }
 .bannerphone{
             display: none !important; 
        }
}
  
@media(max-width: 899px) {
    .Banner-Slicer img{
        display: flex;
         width: 100%;
       margin-top: -15px;
     }
    
    }
      @media(max-width: 700px) {
          .Banner-Slicer img {
              display: flex;
              width: 100%;
                        
          }
          
      }
       @media(min-width: 501px) {
         .banner1 {
            display: none;
           }
       }
     @media(max-width: 500px) {
         .Banner-Slicer {
           padding-right: 15%;
             width: 100%;   
             margin-top: -50px;
         }
         .banner2 {
             display: none !important;
         }
        
        }