/* Top left text */
@media(min-width: 700px) {
.Banner-Slicer img{
    display: flex;
     width: 100%;
    
 }
}
@media(max-width: 699px) {
    .Banner-Slicer img{
        display: flex;
         width: 100%;
        
     }
    }
