
.shellac-h4 h4 {
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
   border-bottom: 0.5px solid rgb(88,88,88) ;
}

.shellac-h4 h4:hover {
  color:  rgb(163, 157, 157);
}

.margin-bottom{
    margin-bottom: 20px;
}
@media(min-width: 900px) {
  .mani-image {
    background-image:
      url('./pedicure.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    flex: 1;
  
  }
}

@media(max-width: 899px) {
  .mani-image {
    background-image: url('./manicure.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }
}
@media(max-width: 400px) {
  .mani-image {
    background-image: url('./manicure.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    width: 100%;
    height: 300px;
  }
}