#contact {
    margin-top: 70px;
    padding: 40px 10px;
   
}


fieldset {
    border: none;
    padding: 0;
}


.form-button:hover {
    background: #ccc;
    cursor: pointer;
}
 

  .input-textarea {
      min-height: 120px;
      padding: 0.625rem;
      resize: vertical;
  }

 

 .contact-para {
     font-size: 15px;
  
 }
 

  .form-h3 {
      font-size: 20px;
      margin: 10px auto;
      text-align: center;
  }

  
  .input-textarea {
      height: 100px;
      width: 50%;
  }


  .form-button {
      padding: 1em;
      border-radius: 0.5em;
      background: #eee;
      border: none;
      font-weight: bold;
      margin-left: 40%;
      margin-top: 1.8em;
  }
.container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
   
}

.hidden {
    display: none;
}


@media(min-width: 768px) {
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        max-width: 650px;
        padding: 1em;
        border: 3px solid #ccc;
        margin: auto;
    }
    .input,
    select,
    .input-textarea {
        float: right;
        width: 60%;
        border: 1px solid #ccc;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.9em;
        padding: 0.5em;
        margin: auto;
    }
  label {
     text-align: left;
     display: inline;
     font-size: 15px;
     font-weight: 700;
 }
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
  }
 
.input,
.input {
    margin-left: 30px;
}

}



@media(max-width: 767px) {
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        padding: 1em;
        border: 1px solid #fff;
        margin: auto;
        align-self: center;
        display: inline-block;
    }
  
       .input,
       select,
       .input-textarea {
           float: right;
           width: 60%;
           border: 1px solid #ccc;
           font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
           font-size: 0.9em;
           padding: 0.4em;

       }  
 label {
     display: inline;
     font-size: 15px;
     font-weight: 700;
 }
  .input,
  .input {
      margin-left: 30px;
  }
}


@media(max-width: 600px) {
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        width: 100%;
        padding: 1px;
        border: 1px solid #fff;
        margin: 0 auto;
        align-self: center;
      
    }
   
   .input,
   select,
   .input-textarea {
       width: 97% !important;
       border: 1px solid #ccc;
       font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
       padding: 1em 0.5em;

   }
  label {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
  }
  .container{
      padding: 20px;
  }
  .contact-para {
     font-size: 17px;
 }
 
}







