.toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width:30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

