.sidedrawer{
    position: fixed;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
   }
   .sidedrawer a:hover,
   .sidedrawer a:active{
    color: #cccccc;
   }
   .sidedrawer.close {
       transform: translateX(0);
   }
   .sidedrawer.open {
       transform: translateX(0);
     }
   
    .sidedrawer a{
        text-decoration: none;
        color: black;
    }
   .sidedrawer li{
       list-style: none;
       margin: 10px 0;
       
   }
   
   
   .side-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
   }
    
    .Services {
      display: flex; 
     align-self: flex-start;
    }
    .links {
      
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      
        
    }
    .Collapsible {
    margin-right: 10px;
    cursor: pointer;   
    color: black;  
}
  .drop-img {
    height: 10px ;
    width: 10px;
    margin-bottom: -25px;
    margin-left: 13px;
}
  