.about {
  
   background: rgb(202, 234, 245);
   margin-bottom: 100px;
  border-radius:70% 30% / 30% 30% 70% 70%;
}

.about h1 {
  text-align: center;
  font-size: 2rem;
}
.about-h4 {
  font-size: 1rem;
  margin-left: 10px;
}


@media(min-width: 800px ) {
  .container-about {
    display: flex;
    flex-direction: row;
  }
    .about {  
      padding: 80px;
    }
    .about {
  max-width: 800px;
  margin: 100px auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
 
}
.about-img {
  
  text-align: center;
  max-width: 400px;
  margin: 20px;
  border: 5px solid white;
}
}



@media(max-width: 799px ) {
  .about {
  padding: 30px;
  }
  .about-img {
    margin: 20px;
    text-align: center;
    float: left;
    max-width: 300px;
    border: 5px solid white;
  }
}
@media(max-width: 468px) {
 
  .about-img img {
    text-align: center;
    padding:auto 20px;
    margin: 10px auto;
    width: 100%;
  }
}
@media(max-width: 375px) {

  .about-img {
    width: 90%;
  }
}