.Massage-h1-div {
   text-align: center;
}

#Massages-h1 {
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-top: 100px;
    margin-bottom: 30px;
}

.Massage-image {
    width: 400px;
    margin: 50px;
}