.button-style {
    border-radius: 30px;
    border: 1px solid rgb(216, 112, 147);
    background-color: white;
    box-shadow: 0 3px 3px rgb(216, 112, 147), 0 10px 10px rgba(0,0,0,0.22);
     width: 150px;
      text-align: center;
      margin: 20px auto;
}
.button-text {
    color: rgb(10, 10, 10);
    padding: 0px 16px;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
}

.button:hover{
    border: none;
}
.button-text:hover{
    color: rgb(216, 112, 147);
   
}
.current {
    text-decoration: none;
}