 .Facials {
     display: flex;
     margin-top: 100px;

 }
.Facials-h1-div {
    text-align: center;
    width: 50%;
    height: 100%;
 }
 
 #Facials-h1 {
     font-size: 30px;
     font-weight: 700;
     color: inherit;
  
     margin-bottom: 30px;
 }
 
 .Facials-image {
     width: 50%;
     height: 100%;
 }
 