 
.facials-img {
   display: flex;
   flex-direction: column;
   margin-top: 100px;
  justify-content: center;
  align-self: center;
 
}
.Gold{
   font-weight: 600;
   font-size: 25px;
   text-align: center;
   color:  rgb(159,131,41);
   margin-top: 0;
}
@media(min-width: 768px) {
.lakshmi-para {
   width: 600px;
   margin: auto;
   text-align: center;
   padding: 10px;
}
#lakshmi{
   margin: auto;
   text-align: center;
   width: 300px;
   height: 150px; 
}
}
@media(max-width: 767px) {
   .lakshmi-para {
      max-width: 400px;
      margin: auto;
      text-align: center;
       padding: auto;
   }
   #lakshmi{
      margin: auto;
      text-align: center;
      width: 250px;
      height: 100px; 
   }
   }
   @media(max-width: 468px) {
      .lakshmi-para {
         max-width: 300px;
         margin: auto;
         text-align: center;
          padding: auto;
      }
      #lakshmi{
         margin: auto;
         text-align: center;
         width: 250px;
         height: 100px; 
      }
      }
 @media(min-width: 900px) {
    .facial-image {
       background-image:
          url('./facials.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       width: 100%;
       height: 750px;

       flex: 1;
       margin-bottom: -100px;
       margin-top: -100px;
       z-index: 0;
    }
 }

 @media(max-width: 899px) {
    .facial-image {
       background-image: url('./facials.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       margin-top: 50px;
       width: 100%;
       height: 400px;
    }
 }