body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(88,88,88) ;
  font-size: 16px;
}
p {
  text-align: justify;
 padding: 0 10px;
 
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h3 {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

 #about, #services, #gallery{
  margin-top: 80px !important;
}

.hline-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 max-width: 500px;
 min-width: 200px;
 margin: auto;
 border-bottom: 1.5px solid rgb(88, 88, 88) !important;
}

.service-h1-div-component {
  margin: 0 20px;
}

.service-h1-component {
  font-size: 30px !important;
  font-weight: 700 !important;
  color: inherit !important;
  
}

.price {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: rgb(88, 88, 88) !important;
  text-align: center !important;
}


@media(min-width: 1000px){
  .service-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto!important;
     max-width: 1000px !important;
  }
  
  .service-h1-div-component {
   margin:10px auto !important;
    text-align: center !important;
     width: 500px !important;
  }
  .service-image-component img{
    margin: 20px;
     width: 500px;
 }
}
@media(max-width: 999px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
  }
  .service-image-component img{
   margin: auto;
    width: 100%;
}
.service-h1-div-component {
  padding:0 25px;
  margin:10px 20px;
   text-align: center;
   width: 100%;
 }
}


