body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(88,88,88) ;
  font-size: 16px;
}
p {
 padding: 0 10px;
 
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h3 {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace ;
}

 #about, #services, #gallery{
  margin-top: 80px ;
}


.text-center{
  text-align: center;
}
.service-h1-div-component {
  margin: 0 20px;
}

.service-h1-component {
  max-width: 400px;
  margin: 10px auto;
  border-bottom: 0.5px solid rgb(88, 88, 88);
  text-align: center;
  padding-top: 20px;
}

.price {
  font-size: 14px ;
  font-weight: 700 ;
  color: rgb(88, 88, 88);
  text-align: center;
  padding-left: 10px;
}


@media(min-width: 900px){
  .service-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     width: 100%;
     height: 100%;
  }
  
  .service-h1-div-component {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 60px;
    
  }
  .service-image-component {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
 }
 .service-title {
   font-size: 20px;
   cursor: pointer;
   text-align: left;
   font-weight: 500;
   margin: 0 auto;
   padding: 30px 10px;
   border: none;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
 }

 .info-p {
   font-size: 15px;
 }

 .info {
   padding: 35px;
   text-align: left;
   font-weight: 500;
   font-size: 22px;
   margin: 0 auto;
   padding: 30px 10px;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
 }

 .service-title:hover {
   color: rgb(163, 157, 157);
 }
}
@media(max-width: 899px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     margin: 0 auto;
   
  }
  .service-image-component{
    align-items: center;
    justify-content: center;
   margin: 0 auto;
   padding: 0%;
    width: 100%;
    height: 100%;
}
.service-h1-div-component {
  align-items: center;
  justify-content: center;
   margin: 0 auto;
   padding: 20px 200px;
   text-align: center;
 
 }
.service-title {
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  margin: 0 auto;
  padding:30px 100px;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.info-p {
  font-size: 15px;
}

.info {
  padding: 35px;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  margin: 0 auto;
  padding: 30px 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.service-title:hover {
  color: rgb(163, 157, 157);
}
}
@media(max-width: 768px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 150px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 30px 80px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .info-p {
    font-size: 15px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}
@media(max-width: 600px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
    height: 100%;
  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 100px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 30px 70px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .info-p {
    font-size: 15px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}
@media(max-width: 500px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
    height: 100%;
  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 60px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 30px 50px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .info-p {
    font-size: 15px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}


@media(max-width: 468px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
    height: 100%;
  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 30px 40px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .info-p {
    font-size: 18px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}


@media(max-width: 375px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;

  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px 10px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .info-p {
    font-size: 18px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}


@media(max-width: 320px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }

  .service-image-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
   
  }

  .service-h1-div-component {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

  }

  .service-title {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px 10px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

 .info-p {
    font-size: 18px;
  }

  .info {
    padding: 35px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .service-title:hover {
    color: rgb(163, 157, 157);
  }
}