body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(88,88,88);
  height: 100%;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 #about, #services, #gallery{
  margin-top: 80px;
}

.hline-bottom {
 margin:0 40px;
 padding:0 25px;
 border-bottom: 1.5px solid rgb(88,88,88); 
}



.service-h1-component {
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  
}

.price {
  font-size: 15px;
  font-weight: 700;
  color: rgb(88,88,88);
  text-align: center;
}


@media(min-width: 1000px){
  .service-component {
    display: flex;
    margin: 80px  20px;
     width: 100%;
  }
  
  .service-h1-div-component {
   margin:10px auto;
    text-align: center;
     width: 500px;
  }
  .service-image-component img{
    margin: auto;
     width: 500px;
 }
}
@media(max-width: 999px) {
  .service-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
  }
  .service-image-component img{
   margin: auto;
    width: 100%;
}
.service-h1-div-component {
  padding:0 25px;
  margin:10px 20px;
   text-align: center;
   width: 100%;
 }
}


