

  
  @media(min-width: 769px) {
    .yoga-image-component{
      max-width: 600px;
      margin: auto;
    }
   .Yoga-image{
    max-width:600px;  
    margin: auto;
  }
    .yoga-component {
       margin-top: 200px;
       max-width: 600px;
       margin: 0 auto;
    }
     .zoom{
       max-width: 500px;
       text-align: center;
     }
    .price {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
       display: flex;
     align-items: center;
     justify-content: center;
    }
  
  }
  

  

 @media(max-width: 768px) {
   .yoga-component {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 0 auto;
     padding-top: 100px;
   }

   .yoga-image-component {
     max-width: 600px;
     margin: 0 auto;
   }
   .yoga-paragraph {
      max-width: 600px;
     margin: 0 auto; 
   }
  .Yoga-image{
    width: 500px;
     margin: 0 auto; 
  }
   .yoga-div-component  {
     padding: 1px 20px;
     margin: 0 auto;
     max-width: 600px;
   }

   .zoom {
     font-size: 14px;
     font-weight: 600;
     text-align: center;
   }
  .price {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
       display: flex;
     align-items: center;
     justify-content: center;
    }
  
   
 }

 @media(max-width: 468px) {
   .yoga-component {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 0 auto;
     padding-top: 100px;
   }

   .yoga-image-component {
     max-width: 400px;
     margin: 0 auto;
   }
   .yoga-paragraph {
      max-width: 400px;
      margin: 0 auto;
   }
  .Yoga-image{
    max-width:400px;  
    margin: 0 auto;
  }
   .yoga-div-component  {
     padding: 1px 20px;
     margin: 0 auto;
     max-width: 400px;
   }

   .zoom {
     font-size: 14px;
     font-weight: 400;
     text-align: center;
   }
  .price {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
       display: flex;
     align-items: center;
     justify-content: center;
    }
  
 }
 @media(max-width: 375px) {
   .yoga-component {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 0 auto;
     padding-top: 100px;
   }

   .yoga-image-component {
     max-width: 300px;
     margin: 0 auto;
   }
   .yoga-paragraph {
      max-width: 300px;
      margin: 0 auto;
   }
  .Yoga-image{
    max-width:300px;  
  }
   .yoga-div-component  {
     padding: 1px 20px;
     margin: 0 auto;
     max-width: 300px;

   }

   .zoom {
     font-size: 14px;
     font-weight: 400;
     text-align: center;
   }
  .price {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
       display: flex;
     align-items: center;
     justify-content: center;
    }
  
 }