.footer {
   z-index: 1;
    position: "relative";
    margin: 0 auto;
    color: white;
    font-weight: 300;
    width: 100%;
    min-height: 400px;
    background-color: rgb(88, 88, 88);
}
li {
    list-style: none;
}
#privacy-li {
  text-align: center;
}
.current-footer:hover{
  color: rgb(211, 211, 211);
}
.current-footer {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hline-bottom-footer{
    margin:0 40px;
    padding: 5px;
    border-bottom: 1.5px solid white;   
}
.copiright{
  text-align: center;
  padding: 20px;
  font-weight: 100;
}
.socials li {
  display: inline-block;
}
@media(min-width: 769px) {
#container{
    display:flex;
    flex-flow: row;
   
  }
  .left{
    margin:10px 10px 10px 25px;
    order: 1;
    width: 25%;
    align-self: flex-start;
  }
  .right{
    align-self: flex-end;
    margin:10px 10px 25px 10px;
    text-align: right;
    margin: 10px;
    order: 3;
    width: 35%;
  }
  .center{
    margin: auto;
    align-self: center;
    text-align: center;
    margin: 10px;
    width: 40%;
    order: 2;
   
  }
   .socials {
    width: 35px;
    margin: 3px;
  }
}
  @media(max-width: 768px) {
    #container{
      text-align: justify;
      margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;
      }  
      .left{
        margin: auto;
       text-align: center;
       align-self: center;
      }
      .right{
        margin: auto;
       text-align: center;
       align-self: center;
      }
      .center{
        margin: auto;
       text-align: center;
       align-self: center;
       padding:0 20px;
      }
      .socials {
    width: 35px;
    margin: 5px auto;
  }
  
  }

@media(max-width: 600px) {
  .socials {
    width: 35px;
    margin: 5px auto;
  }
}