

@media(min-width: 769px) {
    .pamper-image-component img {
        max-width: 600px;
        margin: auto;
        padding-top: 100px;
    }
   
    #pamper {
        max-width: 600px;
        margin: 0 auto;
    }
   
    .pamper-para {
        padding: 5px;
    }

  .pamper-component {
      margin-top: 100px;
  }
}
 @media(max-width: 768px) {
     .pamper-component {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
          margin: 0 auto;
          padding-top: 50px;
     }

     .pamper-image-component img {
         margin: 0 auto;
         max-width: 500px;
        padding-top: 80px;
     }
     
     .pamper-div-component {
         padding: 0 25px;
         margin: 10px 20px;
         text-align: left;
         max-width: 400px;
     }
 }

 @media(max-width: 500px) {
     .pamper-component {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding-top: 50px;
     }

     .pamper-image-component img {
         margin-top: -40px;
         width: 100%;
        padding-top: 40px;
     }
      .pamper-h1-component{
          padding: 0 10px;
          font-size: 20px
      }
     .pamper-div-component {
         padding: 10px;
         text-align: left;
         max-width: 290px;
     }
 }